VITE_SUPABASE_URL=https://aviesoyyrjbofsdjnewi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2aWVzb3l5cmpib2ZzZGpuZXdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1OTIwNzQsImV4cCI6MjA5NjE2ODA3NH0.NtF1u7OPBpvIeroI7faHVKk-QJcadTD9Q_CggQjRaiw
